asgiref
bcrypt
blinker
click
colorama
crispy-bootstrap5
Django
django-crispy-forms
django-environ
Flask
Flask-Bcrypt
Flask-MySQL
Flask-MySQLdb
itsdangerous
Jinja2
MarkupSafe
MouseInfo
mysql-connector-python
mysqlclient
numpy
opencv-contrib-python
pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
PyMySQL
pyperclip
PyRect
PyScreeze
pytweening
sqlparse
tzdata
Werkzeug